/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
/* banner section  starts*/
.banner {
  width: 90%;
  display: flex;
  background: #161616;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 2% 5%;
  border-radius: 30px;
  color: #ffffff;
}
.banner_left {
  width: 45%;
}
.banner_right {
  width: 45%;
}
.banner_contents {
  padding: 11% 0% 0 15%;
}
.banner_img {
  text-align: right;
  padding-top: 5%;
}
.banner_img img {
  width: 581px;
  height: 613px;
}
.banner_contents h2 {
  font-weight: 700;
  font-size: 70px;
}
.banner_contents p {
  font-weight: 400;
  font-size: 16px;
}
.live_button {
  background: #dd0000;
  border-radius: 5px;
  padding: 1.5% 3%;
  color: #fff;
  font-size: 20px;
  margin-top: 5%;
  transition: 1s ease-in-out;
  border-radius: 10px;
}
.live_button:hover {
  background: #2f68dc;
}
/* banner section ends*/
/* sports news starts */
.sports_news {
  display: flex;
  gap: 5%;
}

.matches_area {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background: #000;
  width: 100%;
  align-items: center;
  padding: 1.5% 1%;
  border-radius: 10px;
}

.matches_area button {
  font-weight: 600;
  font-size: 20px;
  color: #161616;
  background: #ffffff;
  border-radius: 10px;
  padding: 7% 5%;
  margin: 1% 0;
  width: 88%;
}
.sportnews_left {
  width: 25%;
}
.sportnews_right {
  width: 75%;
}
.card_image img {
  width: 312px;
  height: 175px;
}
.transfer_button {
  font-size: 16px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #fff;
  padding: 0.5% 2%;
  margin: 1% 1%;
}

/* sports news ends */
