/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
/* banner section */
.banner {
  width: 90%;
  display: flex;
  background: #161616;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 2% 5%;
  border-radius: 30px;
  color: #ffffff;
}
.banner_left {
  width: 45%;
  margin-top: 3%;
}
.banner_right {
  width: 45%;
}
.banner_img {
  text-align: right;
}
.banner_img img {
  width: 581px;
  height: 613px;
}
.banner_contents h2 {
  font-weight: 700;
  font-size: 70px;
}
.banner_contents p {
  font-weight: 400;
  font-size: 16px;
}
.banner_contents button {
  background: #dd0000;
  border-radius: 5px;
  padding: 1.5% 3%;
  color: #fff;
  font-size: 20px;
  margin: 2% 0;
}
