/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
/* banner section  starts*/
.banner {
  width: 90%;
  display: flex;
  background: #161616;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 2% 5%;
  border-radius: 30px;
  color: #ffffff;
}
.banner_left {
  width: 45%;
}
.banner_right {
  width: 45%;
}
.banner_contents {
  padding: 11% 0% 0 15%;
}
.banner_img {
  text-align: right;
  padding-top: 5%;
}
.banner_img img {
  width: 581px;
  height: 613px;
}
.banner_contents h2 {
  font-weight: 700;
  font-size: 70px;
}
.banner_contents p {
  font-weight: 400;
  font-size: 16px;
}
.live_button {
  background: #dd0000;
  border-radius: 5px;
  padding: 1.5% 3%;
  color: #fff;
  font-size: 20px;
  margin-top: 5%;
  transition: 1s ease-in-out;
  border-radius: 10px;
}
.live_button:hover {
  background: #2f68dc;
}
/* banner section ends*/

/* sports news starts */
.sports_news {
  display: flex;
  justify-content: space-between;
  margin: 6% 5%;
}
.card_contents {
  padding: 5% 5%;
}
.matches_area {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background: rgb(0, 0, 0);
  width: 100%;
  align-items: center;
  padding: 8% 1%;
  border-radius: 10px;
}

.matches_area a {
  text-decoration: none;
  color: #161616;
}

.matches_area button {
  font-weight: 600;
  font-size: 20px;
  background: #ffffff;
  border-radius: 10px;
  padding: 6% 5%;
  margin: 1% 0;
  width: 88%;
}
.sportnews_left {
  width: 20%;
}
.sportnews_right {
  width: 75%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 5%;
  grid-column-gap: 3%;
}
.card {
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  margin: 0px 0 40px 0px;
}
.card_image img {
  object-fit: contain;
  width: 100%;
}
.transfer_button {
  font-size: 16px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #fff;
  padding: 1.5% 6%;
  transition: all 1s ease-out;
}
.transfer_button:hover {
  background: red;
  color: white;
  border: 1px solid red;
}
.text {
  font-weight: 600;
  font-size: 18px;
  margin: 5% 0;
}
.practice_hrs {
  display: flex;
  jutify-content: space-between;
}
.practice_hrs span {
  display: flex;
  margin-right: 10%;
}
.practice_hrs span > p {
  font-weight: 400;
  font-size: 16px;
  margin: 0 10px;
}

/* sports news ends */
/* footer starts */
footer {
  background: #000;
  padding: 6% 0;
}

/* footer ends */
.footer_contents h1 {
  color: #fff;
  text-align: center;
}
.footer_links {
  display: flex;
  justify-content: center;
  padding: 2% 0;
}
.footer_links li {
  text-decoration: none;
  margin: 0 3%;
}
.footer_links li a {
  color: #fff;
  text-decoration: none;
}
hr.line {
  border: 1px solid rgb(255 255 255 / 15%);
  width: 90%;
  margin: 3% 5%;
}
.viewall_button {
  display: none;
}

/* media queries */
@media only screen and (max-width: 991px) {
  .banner_contents h2 {
    font-size: 35px;
  }
  .banner_img img {
    width: 352px;
    height: 376px;
  }
  .sportnews_right {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 15%;
  }
  .matches_area {
    flex-direction: row;
    width: 100%;
    padding: 3% 1%;
    background: #fff;
  }
  .sports_news {
    display: flex;
    flex-direction: column;
  }
  .sportnews_left {
    width: 100%;
  }
  .matches_area button {
    font-size: 16px;
    padding: 2% 5%;
    border: 1px solid #dbdbdb;
  }
  .view_button {
    display: flex;
    justify-content: center;
    margin-top: 7%;
  }
  .viewall_button {
    display: block;
    padding: 1% 6%;
    background: #dd0000;
    border: none;
    font-size: 20px;
    border-radius: 5px;
  }
  .card {
    margin: 0px 0 0px 0px;
  }
  .footer_links li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 767px) {
  .banner {
    flex-flow: column;
  }
  .banner_left {
    width: 100%;
  }
  .banner_contents h2 {
    font-size: 22px;
  }
  .banner_contents p {
    font-size: 14px;
  }
  .banner_contents {
    padding: 6% 0% 0 10%;
  }
  .live_button {
    margin: 3% 0;
    transition: 1s ease-in-out;
  }
  .banner_right {
    width: 77%;
  }
  .matches_area {
    flex-direction: column;
  }
  .matches_area button {
    font-size: 16px;
    padding: 2% 5%;
    border: 1px solid #dbdbdb;
    width: 40%;
  }
  .sports_news {
    margin: 2% 5%;
  }
  .sportnews_right {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 25%;
    grid-row-gap: 1%;
  }
  .card {
    border-radius: 23px;
  }
  .view_button {
    margin: 7% 0;
  }
}
